body {
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    background-color: gray;
    width: 600px;
    margin: auto;
}

#container > a {
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    border: 0px 1px 0px 0px;
    padding: 10px;
    text-transform: uppercase;
}

#container > a:hover {
    background-color: #eee;
    color: gray;
}